RHT_OCP4_MASTER_API=https://api.na45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na45.prod.nextcle.com
RHT_OCP4_DEV_USER=fslqmj
RHT_OCP4_DEV_PASSWORD=7e1d14105d7d43808d7a
RHT_OCP4_GITHUB_USER=lpmb59302
RHT_OCP4_QUAY_USER=lpmb59302
